version: '3.9'

services:
 
  db:
    image: postgres:18-alpine
    volumes:
      - online_shop_db:/var/lib/postgresql/data
    env_file:
      - source/.env
    ports:
      - 5432:5432


 
  web:
    build: .
    container_name: online_shop_web
    command: 
      # python source/manage.py migrate &&
      python source/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    dns:
      - 8.8.8.8
      - 8.8.4.4

volumes:
 online_shop_db: