{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	{% include "head.html" %}	
    <link rel="stylesheet" href="{% static 'css/ion.rangeSlider.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ion.rangeSlider.skinFlat.css' %}" />
</head>

<body>

    <!-- Start Header Area -->
	<header>
		{% include "header.html" %}
		
	</header>
	<!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Blog Page</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Blog</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

 <br>

    <!--================Blog Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        <article class="row blog_item">
                            {% for blog in blog_list %}
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        {%for tag in blog.blogtag_set.all %}

                                        <a href="#">{{tag}},</a>

                                        <!-- <a class="active" href="#">Technology,</a>
                                        <a href="#">Politics,</a>
                                        <a href="#">Lifestyle</a> -->
                                        {%endfor%}
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#">{{blog.author.get_full_name}}<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#">{{blog.created_at|date:"Y-m-d"}}<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="#">{{blog.blogcomment_set.count}} comments<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{{blog.image.url}}" alt="">
                                    <div class="blog_details">
                                       
                                            <h2>{{blog.title}}</h2>
                                      
                                        <p>{{blog.body|safe}}</p>
                                        <a href="{% url 'blog:blog-detail' blog.id %}" class="white_bg_btn">View More</a>
                                    </div><br>
                                </div>
                            </div>
                            {% endfor %}
                        </article>
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                
                                {# Previous Page Link #}
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">
                                                <span class="lnr lnr-chevron-left"></span>
                                            </span>
                                        </a>
                                    </li>
                                {% endif %}
                                
                                {# Page Numbers #}
                                {% for page_num in page_obj.paginator.page_range %}
                                    <li class="page-item {% if page_num == page_obj.number %}active{% endif %}">
                                        <a href="?page={{ page_num }}" class="page-link">
                                            {{ page_num|stringformat:"02d" }}  {# Formats with leading zero like 01, 02, etc. #}
                                        </a>
                                    </li>
                                {% endfor %}
                                
                                {# Next Page Link #}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
                                            <span aria-hidden="true">
                                                <span class="lnr lnr-chevron-right"></span>
                                            </span>
                                        </a>
                                    </li>
                                {% endif %}
                                
                            </ul>
                        </nav>
                        
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form method="get" action="{% url 'blog:blog' %}">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="search" placeholder="Search Posts"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'"
                                           value="{{ request.GET.search }}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <i class="lnr lnr-magnifier"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                            
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget author_widget">
                            {% for user in users %}
                            <img class="author_img rounded-circle" src="{{user.customer_set.first.profile_image.url}}" alt="">
                            <h4>{{user.get_full_name}}</h4>
                            <p>Senior blog writer</p>
                            <div class="social_icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                            <p>{{blog.title}}</p>

                            {% endfor %}
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Popular Posts</h3>
                            {% for blog in blog_list %}

                            <div class="media post_item">
                                <img src="{{blog.image.url}}" alt="post" style="width:100px; height:50px; object-fit:cover;">
                                <div class="media-body">
                                    <a href="{% url 'blog:blog-detail' blog.pk %}">
                                        <h3>{{blog.title}}</h3>
                                    </a>
                                    <p>{{blog.created_at|date:'Y-m-d'}}</p>
                                </div>
                            </div>
                            {%endfor%}

                            <div class="br"></div>
                        </aside>
                     
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Post Categories</h4>
                            <ul class="list cat-list">
                                {% for category in categories %}
                                    <li>
                                        <a href="?category={{ category.id }}" class="d-flex justify-content-between
                                            {% if selected_category == category.id|stringformat:"s" %}active{% endif %}">
                                            <p>{{ category.name }}</p>
                                            <p>{{ category.blog_set.count }}</p>  {# Count of blogs in this category #}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="br"></div>
                        </aside>
                        
                        
                        <aside class="single-sidebar-widget tag_cloud_widget">
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                                {% for tag in tags %}
                                    <li>
                                        <a href="?tag={{ tag.id }}" class="d-flex justify-content-between
                                            {% if select_tag == tag.id|stringformat:"s" %}active{% endif %}">
                                            <p>{{ tag.name }}</p>
                                            <p>{{ tag.blog_set.count }}</p>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

    <!-- start footer Area -->
    <footer>
        {% include "footer.html" %}
    </footer>
    <!-- End footer Area -->

    {% include "scripts.html" %}
</body>

</html>