{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
   {% include "head.html" %}
</head>

<body>

    <!-- Start Header Area -->
	<header>
		{% include "header.html" %}
	</header>
	<!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart.items.all %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" 
                                                                        style="width:200px; height:150px; object-fit:cover;">
                                        </div>
                                        <div class="media-body">
                                            <p>{{ item.product.name }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>${{ item.product.off_price }}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" value="{{ item.quantity }}" class="input-text qty">
                                        
                                    </div>
                                </td>
                                <td>
                                    <h5>${{ item.total_price }}</h5>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">Your cart is empty.</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                
                                <td colspan="3">
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5>${{ cart.total_price }}</h5>
                                </td>
                            </tr>
                            </tbody>
                            
                        
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->

    <!-- start footer Area -->
    <footer>
        {% include "footer.html" %}
    </footer>
    <!-- End footer Area -->

    {% include "scripts.html" %}
    
</body>

</html>