{% load custom_filters %}
{% load static %}

<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	
	{% include "head.html" %}
</head>

<body id="category">

	<!-- Start Header Area -->
	<header>
		{% include "header.html" %}
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Product Category page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Fashon Category</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					
					<form method="get" id="filterForm">
						<!-- Category Filter -->
						<div class="common-filter">
						  <div class="head">Categories</div>
						  <ul>
							{% for category in category_list %}
							  <li class="filter-list">
								<input class="pixel-radio" 
									   type="radio" 
									   id="category_{{ category.category.id }}" 
									   name="category" 
									   value="{{ category.category.id }}"
									   {% if category.category.id|stringformat:"s" == selected_category %}checked{% endif %}
									   onchange="document.getElementById('filterForm').submit();">
								<label for="category_{{ category.category.id }}">
								  {{ category.category.name }} ({{ category.product_count }})
								</label>
							  </li>
							{% endfor %}
						  </ul>
						</div>
					  
						<!-- Brand Filter -->
						<div class="common-filter">
						  <div class="head">Brands</div>
						  <ul>
							{% for brand in brand_list %}
							  <li class="filter-list">
								<input class="pixel-radio" 
									   type="radio" 
									   id="brand_{{ brand.brand.id }}" 
									   name="brand" 
									   value="{{ brand.brand.id }}"
									   {% if brand.brand.id|stringformat:"s" == selected_brand %}checked{% endif %}
									   onchange="document.getElementById('filterForm').submit();">
								<label for="brand_{{ brand.brand.id }}">
								  {{ brand.brand.name }} ({{ brand.product_count }})
								</label>
							  </li>
							{% endfor %}
						  </ul>
						</div>
					  
						<!-- Color Filter -->
						<div class="common-filter">
						  <div class="head">Colors</div>
						  <ul>
							{% for color in color_list %}
							  <li class="filter-list">
								<input class="pixel-radio" 
									   type="radio" 
									   id="color_{{ color.color.id }}" 
									   name="color" 
									   value="{{ color.color.id }}"
									   {% if color.color.id|stringformat:"s" == selected_color %}checked{% endif %}
									   onchange="document.getElementById('filterForm').submit();">
								<label for="color_{{ color.color.id }}">
								  {{ color.color.name }} ({{ color.product_count }})
								</label>
							  </li>
							{% endfor %}
						  </ul>
						</div>
					</form>

					<br>

					{% if selected_category or selected_brand or selected_color %}
					<div class="active-filters">
						<strong>Active Filters:</strong>

						{% if selected_category %}
						<span class="filter-tag">
							Category: {{ category_list|get_item_name:selected_category }}
							<a href="{% url 'product:category' %}?{% if selected_brand %}brand={{ selected_brand }}&{% endif %}{% if selected_color %}color={{ selected_color }}&{% endif %}">✖</a>
						</span>
						{% endif %}

						{% if selected_brand %}
						<span class="filter-tag">
							Brand: {{ brand_list|get_item_name:selected_brand }}
							<a href="{% url 'product:category' %}?{% if selected_category %}category={{ selected_category }}&{% endif %}{% if selected_color %}color={{ selected_color }}&{% endif %}">✖</a>
						</span>
						{% endif %}

						{% if selected_color %}
						<span class="filter-tag">
							Color: {{ color_list|get_item_name:selected_color }}
							<a href="{% url 'product:category' %}?{% if selected_category %}category={{ selected_category }}&{% endif %}{% if selected_brand %}brand={{ selected_brand }}&{% endif %}">✖</a>
						</span>
						{% endif %}
					</div>
					{% endif %}
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
			
					
					<div class="row">
						{% for product in product_list|slice:":6" %}
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="{{product.image.url}}" alt="">
								<div class="product-details">
									<a href="{% url 'product:product-detail' pk=product.id %}">
									<h6>{{product.name}}</h6>
									</a>
									<div class="price">
										<h6>${{product.off_price}}</h6>
										<h6 class="l-through">${{product.original_price}}</h6>
									</div>
									<div class="prd-bottom">

										<a class="social-info" onclick="addToCart({{ product.id }})">
											<span class="ti-bag"></span>
											<p class="hover-text">add to bag</p>
										</a>
									
										
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
					
					<nav class="blog-pagination justify-content-center d-flex">
						<ul class="pagination">
							
							{# Previous Page Link #}
							{% if page_obj.has_previous %}
								<li class="page-item">
									<a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
										<span aria-hidden="true">
											<span class="lnr lnr-chevron-left"></span>
										</span>
									</a>
								</li>
							{% endif %}
							
							{# Page Numbers #}
							{% for page_num in page_obj.paginator.page_range %}
								<li class="page-item {% if page_num == page_obj.number %}active{% endif %}">
									<a href="?page={{ page_num }}" class="page-link">
										{{ page_num|stringformat:"02d" }}  {# Formats with leading zero like 01, 02, etc. #}
									</a>
								</li>
							{% endfor %}
							
							{# Next Page Link #}
							{% if page_obj.has_next %}
								<li class="page-item">
									<a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
										<span aria-hidden="true">
											<span class="lnr lnr-chevron-right"></span>
										</span>
									</a>
								</li>
							{% endif %}
							
						</ul>
					</nav>
					
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r1.jpg' %}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r2.jpg' %}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r3.jpg' %}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r5.jpg' %}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r6.jpg' %}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r7.jpg' %}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r9.jpg' %}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r10.jpg' %}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r11.jpg' %}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<img class="img-fluid d-block mx-auto" src="{% static 'img/category/c5.jpg' %}" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->

	<!-- start footer Area -->
	<footer>
		{% include "footer.html" %}
	</footer>
	<!-- End footer Area -->

	<!-- Modal Quick Product View -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="container relative">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="product-quick-view">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="quick-view-carousel">
								<div class="item" style="background: url(img/organic-food/q1.jpg);">

								</div>
								<div class="item" style="background: url(img/organic-food/q1.jpg);">

								</div>
								<div class="item" style="background: url(img/organic-food/q1.jpg);">

								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="quick-view-content">
								<div class="top">
									<h3 class="head">Mill Oil 1000W Heater, White</h3>
									<div class="price d-flex align-items-center"><span class="lnr lnr-tag"></span> <span class="ml-10">$149.99</span></div>
									<div class="category">Category: <span>Household</span></div>
									<div class="available">Availibility: <span>In Stock</span></div>
								</div>
								<div class="middle">
									<p class="content">Mill Oil is an innovative oil filled radiator with the most modern technology. If you are
										looking for something that can make your interior look awesome, and at the same time give you the pleasant
										warm feeling during the winter.</p>
									<a href="#" class="view-full">View full Details <span class="lnr lnr-arrow-right"></span></a>
								</div>
								<div class="bottom">
									<div class="color-picker d-flex align-items-center">Color:
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
									</div>
									<div class="quantity-container d-flex align-items-center mt-15">
										Quantity:
										<input type="text" class="quantity-amount ml-15" value="1" />
										<div class="arrow-btn d-inline-flex flex-column">
											<button class="increase arrow" type="button" title="Increase Quantity"><span class="lnr lnr-chevron-up"></span></button>
											<button class="decrease arrow" type="button" title="Decrease Quantity"><span class="lnr lnr-chevron-down"></span></button>
										</div>

									</div>
									<div class="d-flex mt-20">
										<a href="#" class="view-btn color-2"><span>Add to Cart</span></a>
										<a href="#" class="like-btn"><span class="lnr lnr-layers"></span></a>
										<a href="#" class="like-btn"><span class="lnr lnr-heart"></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	{% include "scripts.html" %}
	<script>
		function getCSRFToken() {
			const name = 'csrftoken=';
			const cookies = document.cookie.split(';');
			for (let cookie of cookies) {
				cookie = cookie.trim();
				if (cookie.startsWith(name)) {
					return cookie.substring(name.length);
				}
			}
			return '';
		}
		
		async function addToCart(productId) {
			// Django will generate the correct base URL for you
			const baseUrl = "{% url 'transaction:add_to_cart' 0 %}".replace('/0/', `/${productId}/`);
			const csrftoken = getCSRFToken();
		
			const response = await fetch(baseUrl, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
					'X-CSRFToken': csrftoken,
				},
				body: JSON.stringify({ quantity: 1 }),
			});
		
			if (response.ok) {
				const data = await response.json();
				console.log('✅ Added to cart:', data);
				alert('Product added to cart!');
			} else {
				alert('❌ Failed to add to cart.');
			}
		}
		</script>
		
		

</body>

</html>