{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	{% include "head.html" %}
</head>

<body>

	<!-- Start Header Area -->
	<header>
		{% include "header.html" %}
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Confirmation</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Confirmation</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
		<div class="container">
			<h3 class="title_confirmation">Thank you. Your order has been received.</h3>
					<div class="row order_d_inner">
						<div class="col-lg-4">
							<h4>Order Info</h4>
							<ul>
								<li>number: {{ cart.id }}</li>
								<li>Date: {{ cart.created_at|date:"Y-m-d" }}</li>
								<li>Total: ${{ cart.total_price }}</li>
								<li>Payment method: Paypal</li>
							</ul>
						</div>
						<div class="col-lg-4">
							<h4>Billing Address</h4>
							<ul>
								<li><span>Street</span>  :   {{ billing.address_line1 }}</li>
								<li>City: {{ billing.city }}</li>
								<li>Country: {{ billing.country }}</li>
								<li>Postcode: {{ billing.postal_code }}</li>
							</ul>
						</div>
					</div>

					<table class="table">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total</th>
							</tr>
						</thead><br>
						<tbody>
							{% for item in cart.items.all %}
							<tr>
								<td>{{ item.product.name }}</td>
								<td>x {{ item.quantity }}</td>
								<td>${{ item.total_price }}</td>
							</tr>
							{% endfor %}
							<tr>
								<td>Subtotal</td>
								<td></td>
								<td>${{ cart.total_price }}</td>
							</tr>
							<tr>
								<td>Shipping</td>
								<td></td>
								<td>$50.00</td>
							</tr>
							<tr>
								<td>Total</td>
								<td></td>
								<td>${{ cart.total_price|add:50 }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	<!--================End Order Details Area =================-->

	<!-- start footer Area -->
	<footer>
		{% include "footer.html" %}
	</footer>
	<!-- End footer Area -->
	{% include "scripts.html" %}



	
</body>

</html>