{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	{% include "head.html" %}

</head>

<body>

	<!-- Start Header Area -->
	<header>
		{% include "header.html" %}
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Create Blog</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="">Create Blog</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
					</div>
				</div>
	
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Create Blog</h3>
	
						<form method="post" enctype="multipart/form-data">
							{% csrf_token %}
	
							<div class="col-md-12 form-group">
								{{ form.title }}
							</div>
	
							<div class="col-md-12 form-group">
								{{ form.body }}
							</div>
	
							<div class="col-md-12 form-group">
								{{ form.category }}
							</div>
							
							<div class="col-md-12 form-group">
								{{ form.tags }}
							</div>
	
							<div class="col-md-12 form-group">
								{{ form.image }}
							</div>
	
							<div class="col-md-12 form-group">
								<button type="submit" class="primary-btn">
									Create
								</button>
							</div>
						</form>
	
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!--================End Login Box Area =================-->

	<!-- start footer Area -->
	<footer>
		{% include "footer.html" %}
	</footer>
	<!-- End footer Area -->


	{% include "scripts.html" %}

</body>

</html>